@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: #080710;
}

.navigation{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(
        #080710,
        #23a2f6
    );
    width: 70px;
    box-shadow: 15px 0 0 #099c22;
    border-left: #424242  ;
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover{
    width: 200px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.navigation ul li .submenu {
    position: relative;
    list-style: none;
    top: 0;
    left: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: none;
}

.navigation ul li:hover .submenu {
    display: block;
    background: #099c22;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.navigation ul li .submenu a {
    display: block;
    color: #fff;
    padding: 5px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li:hover{
    background: #099c22;
}


.background{
    width: 1260px;
    height: 800px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -85px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #099c22,
        #f09819
    );
    right: -85px;
    bottom: -80px;
}

form{
    width: 1260px;
    height: 800px;
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}



.row{
    position: 100vh;
    left: 100vh;
    right: 100vh;
    top: 100vh;
    margin: auto;
    display: flex;
}







