{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Design by foolishdeveloper.com -->
    <title>{% block 'title'%}Login Page {% endblock 'title'%}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    {% block 'style'%}
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
    {% endblock 'style'%}
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
{% block 'conteudo'%}
<form method="POST" action="{% url 'usuarios:valida_login' %}" class="sign-in-form">

    <h3>Faça o Login Aqui</h3>
    {% csrf_token %}
    {% if messages %}
    {% for i in messages %}
    <div class="alert {{i.tags}}" role="alert">
        {{i}}
    </div>
    {% endfor %}
    {% endif %}

    <label for="username">Nome de Usuário</label>
    <input type="text" placeholder="Digite o nome de usuário" id="username" name="username_or_email">

    <label for="password">Senha</label>
    <input type="password" placeholder="Senha" id="password" name="senha">

    <button type="submit">Iniciar Sessão</button>
    <!--        <input type="button" value="">-->
    <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
    <a href="{% url 'usuarios:cadastro' %}">Criar Conta</a>
</form>
{% endblock 'conteudo'%}


</body>
</html>
