{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

<div class="page-header">
    <div id="relatorio_itens">
        <h3>{{ object }}</h3>
        <table class="table table-user-information">
            <tbody>
            <tr>
                <th class="text-right"> Telefone</th>
                <td> {{ object.telefone }}</td>
            </tr>
            <tr>
                <th class="text-right"> Cep</th>
                <td> {{ object.cep }}</td>
            </tr>
            <tr>
                <th class="text-right"> Rua</th>
                <td> {{ object.rua }}</td>
            </tr>
            <tr>
                <th class="text-right"> Numero</th>
                <td> {{ object.numero }}</td>
            </tr>
            <tr>
                <th class="text-right"> Data</th>
                <td> {{ object.data_cliente }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons m-auto">
        <div class="container-login100-form-btn">
            <button class="btn btn-primary" value="Save" onclick="printDiv()">
                Gerar relatório
            </button>
            <span class="float-right">
                <a href="{% url 'cliente:cliente_list' %}">
                    <button type="button" class="btn btn-primary">
                        voltar
                    </button>
                </a>
                <a href="{% url 'cliente:cliente_edit' object.pk %}">
                    <button type="button" class="btn btn-success">
                        Editar
                    </button>
                </a>
                <a href="{% url 'cliente:cliente_delete' object.pk %}">
                    <button type="button" class="btn btn-success">
                        Deletar
                    </button>
                </a>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

