{% extends "base.html" %}
{% load static %}
{% block content %}
{% block css %}

<style>

    h1{
        font-size: 25px;
    }
    .informacoes_basicas {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #181C24;
        height: 65px;
        position: relative;
        width: 100%;
        margin-right: auto;
        border: 1px solid transparent;
        border-image: linear-gradient(to right top, #bd31c4, #8e3bb0, #643b97, #413579, #282c59);
        border-image-slice: 1;
        margin-left: 1%;
    }

    .material-symbols-outlined {
        color: #C040B9;
        font-size: 25px;
        align-items: center;
    }
    .center{
        display: flex;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }


</style>

{% endblock css %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col-md informacoes_basicas">
        <span class="material-symbols-outlined">add_shopping_cart</span>
        <span class="center"> R$</span><span class="center" id="faturamento_vendido"></span>
    </div>
    <div class="col-md informacoes_basicas">
        <span class="material-symbols-outlined">shopping_cart</span>
        <span class="center"> R$ <span class="center" id="faturamento_entrada"></span></span>
    </div>
    <div class="col-md informacoes_basicas">
        <span class="material-symbols-outlined">account_balance</span>
        <span class="center"> R$ <span class="center" id="faturamento_total"></span></span>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <br>
        <h1>Saida:</h1>
        <canvas id="faturamento_mensal" width="300" height="100"></canvas>
    </div>
    <div class="col-md">
        <br>
        <h1>Entrada:</h1>
        <canvas id="entrada_mensal" width="300" height="100"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <br>
        <h1>Produtos mais Vendidos:</h1>
        <canvas id="produtos_mais_vendidos" width="300" height="100"></canvas>
    </div>
    <div class="col-md">
        <br>
        <h1>Produtos que mais Entraram:</h1>
        <canvas id="produtos_mais_entraram" width="300" height="100"></canvas>
    </div>
</div>


{%  endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/js.js' %}"></script>
<script>
    window.onload = function(e){
        renderiza_total_vendido('{% url "core:retorna_total_vendido" %}')
        renderiza_total_comprado('{% url "core:retorna_total_comprado" %}')
        renderiza_o_faturamento('{% url "core:retorna_diferenca_comprado_vendido" %}')
        renderiza_faturamento_mensal('{% url "core:relatorio_faturamento" %}')
        renderiza_entrada_mensal('{% url "core:relatorio_entrada" %}')
        renderiza_produtos_mais_vendidos('{% url "core:relatorio_produtos" %}')
        renderiza_produtos_mais_entraram('{% url "core:relatorio_produtos_entrada" %}')
    }

</script>
{% endblock js %}