{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Controle de Estoque</title>
    {% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--fon awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <!--Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock css %}
</head>
<body>
<div class="navigation">
    {% if user.is_authenticated %}
    <ul>
        <li>
            <a href="{% url 'core:index' %}">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="title">{{user}}</span>
            </a>
        </li>

        <li class="list">

        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                <span class="title">Produtos</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'produto:produto_add' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Cadastrar Produto
                    </a>
                </li>
                <li>
                    <a href="{% url 'produto:produto_list' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Listar Produto
                    </a>
                </li>
                <li>
                    <a href="{% url 'relatorio:relatorio_produto' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Relatorio
                    </a>
                </li>
            </ul>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                <span class="title">Clientes</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'cliente:cliente_add' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Cadastrar Clientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'cliente:cliente_list' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Listar Clientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'relatorio:relatorio_cliente' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Relatorio
                    </a>
                </li>
            </ul>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><ion-icon name="bag-add-outline"></ion-icon></span>
                <span class="title">Entradas</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'entrada:estoque_entrada_add' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Cadastrar Entrada
                    </a>
                </li>
                <li>
                    <a href="{% url 'entrada:estoque_entrada_list' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Listar Entrada
                    </a>
                </li>
                <li>
                    <a href="{% url 'relatorio:relatorio_entrada' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Relatorio
                    </a>
                </li>
            </ul>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><ion-icon name="bag-remove-outline"></ion-icon></span>
                <span class="title">Saídas</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'saida:estoque_saida_add' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Cadastrar Saídas
                    </a>
                </li>
                <li>
                    <a href="{% url 'saida:estoque_saida_list' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Listar Saídas
                    </a>
                </li>
                <li>
                    <a href="{% url 'relatorio:relatorio_saida' %}">
                        <span><ion-icon name="add-outline"></ion-icon></span>
                        Relatorio
                    </a>
                </li>
            </ul>
        </li>
        <li class="list">
            <a href="{% url 'usuarios:atualizar_cadastro' %}">
                <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                <span class="title">Configurações</span>
            </a>
        </li>
        <li class="list logout">
            <a href="{% url 'usuarios:sair' %}">
                <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                <span class="title">Sair</span>
            </a>
        </li>
    </ul>
    {% endif %}
</div>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="POST">
    {% block content %} {% endblock content %}
</form>
<div class="form">
    {% block relatorio %} {% endblock relatorio %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% block js %} {% endblock js %}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>