{% extends "base.html" %}
{% block title %}
<title>Deletar Saída</title>
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
{% if user.is_authenticated %}
    <p>Tem certeza que deseja excluir esse essa nota? <h1>'{{ object }}'</h1></p>
    <br>
    <p>Lembrando que depois de excluir, o estoque não sera atualizado (necessario refazer a contagem)</p>
    <a href="{% url 'saida:confirm_estoque_saida_delete' object.id %}" class="btn btn-info btn-lg">Excluir</a>
</form>
{% endif %}
{% endblock content %}
{% block js %}
 <script>
     //Close alert after 2 second
     window.setTimeout(function() {
     $('.alert').fadeTo(500, 0).slideUp(500, function() {
            $(this).remove();
        });
     }, 2000);
 </script>
{% endblock js %}