{% extends "login.html" %}
{% load static %}
{% block 'title'%}Cadastro{% endblock 'title'%}
{% block 'conteudo'%}

<form method="POST" action="{% url 'usuarios:valida_cadastro' %}">
    {% csrf_token %}
    <h3>Inscreva-se Aqui</h3>
    {% if messages %}
    {% for i in messages %}
    <div class="alert {{i.tags}}" role="alert">
        {{i}}
    </div>
    {% endfor %}
    {% endif %}
    <label for="username">Nome de Usuário</label>
    <input type="text" placeholder="Nome de Usuário" name="username" id="username">

    <label for="email">Email</label>
    <input type="email" placeholder="Email" name="email" id="email">

    <label for="password1">Senha</label>
    <input type="password" placeholder="Senha" id="password1" name="password">


    <label for="password2">Confirmar Senha</label>
    <input type="password" placeholder="Confirmar Senha" id="password2" name="password2">

    <button type="submit">Inscreva-se</button>

    <a href="{% url 'usuarios:login' %}">eu já tenho conta</a>
</form>

{% endblock 'conteudo'%}
