{% extends "login.html" %}
{% load static %}
{% block 'title'%}Reset{% endblock 'title'%}
{% block 'conteudo'%}
{% block 'style'%}
<style>
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -80px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 450px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 14px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

</style>
{% endblock 'style'%}
<div class="row">
    <div class="cols">
        <form method="POST">
            <h3>Redefinir Senha</h3>
            {% csrf_token %}
            {% if messages %}
                {% for i in messages %}
                    <div class="alert {{i.tags}} text-center" role="alert">
                        {{i}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nova_senha">Nova senha:</label>
                    <input type="password" class="form-control" id="nova_senha" name="nova_senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="confirmar_nova_senha">Confirmar nova senha:</label>
                    <input type="password" class="form-control" id="confirmar_nova_senha" name="confirmar_nova_senha">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{% url 'usuarios:cadastro' %}">Criar Conta</a>
            <!--            <a href="{% url 'produto:produto_list' %}">-->
            <!--                <button type="button" class="btn btn-primary" id="cancelar-btn">-->
            <!--                    Voltar-->
            <!--                </button>-->
            <!--            </a>-->
        </form>
    </div>
</div>
{% endblock 'conteudo'%}
{% block js %}
<script>
    $(document).ready(function() {
        $('#cancelar-btn').click(function(ev) {
            ev.preventDefault();
            window.history.back();
        });
    });

</script>
{% endblock js %}