{% extends "login.html" %}
{% load static %}
{% block 'title'%}Reset{% endblock 'title'%}
{% block 'conteudo'%}
<div class="row">
    <div class="cols">
        <form method="POST">
            <h3>Redefinir Senha</h3>
            {% csrf_token %}
            {% if messages %}
                {% for i in messages %}
                    <div class="alert {{i.tags}} text-center" role="alert">
                        {{i}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nova_senha">Nova senha:</label>
                    <input type="password" class="form-control" id="nova_senha" name="nova_senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="confirmar_nova_senha">Confirmar nova senha:</label>
                    <input type="password" class="form-control" id="confirmar_nova_senha" name="confirmar_nova_senha">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{% url 'usuarios:cadastro' %}">Criar Conta</a>
        </form>
    </div>
</div>
{% endblock 'conteudo'%}
{% block js %}
<script>
    $(document).ready(function() {
        $('#cancelar-btn').click(function(ev) {
            ev.preventDefault();
            window.history.back();
        });
    });

</script>
{% endblock js %}