{% extends 'base.html' %}
{% block title %}
<title>Redefinir Senha</title>
{% endblock title %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="row">
    <div class="cols">
        <h2>Redefinir Senha</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="senha_atual">Senha atual:</label>
                    <input type="password" class="form-control" id="senha_atual" name="senha_atual">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="nova_senha">Nova senha:</label>
                    <input type="password" class="form-control" id="nova_senha" name="nova_senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="confirmar_nova_senha">Confirmar nova senha:</label>
                    <input type="password" class="form-control" id="confirmar_nova_senha" name="confirmar_nova_senha">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{% url 'produto:produto_list' %}">
                <button type="button" class="btn btn-primary" id="cancelar-btn">
                    Voltar
                </button>
            </a>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#cancelar-btn').click(function(ev) {
            ev.preventDefault();
            window.history.back();
        });
    });

</script>
{% endblock js %}