{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="page-header">
    <div id="relatorio_itens">
        <h1>{{ object }}</h1>

        <table class="table table-user-information">
            <tbody>
            <tr>
                <th class="text-right"> Preço</th>
                <td>R$ {{ object.preco }}</td>
            </tr>
            <tr>
                <th class="text-right"> Estoque</th>
                <td> {{ object.estoque }}</td>
            </tr>
            <tr>
                <th class="text-right"> Estoque Minimo</th>
                <td> {{ object.estoque_minimo }}</td>
            </tr>
            <tr>
                <th class="text-right"> Data</th>
                <td> {{ object.data }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons m-auto">
        <div class="container-login100-form-btn">
            <button class="btn btn-primary" value="Save" onclick="printDiv()">
                Gerar relatório
            </button>
            <span class="float-right">
                <a href="{% url 'produto:produto_list' %}">
                    <button type="button" class="btn btn-primary">
                        voltar
                    </button>
                </a>
                <a href="{% url 'produto:produto_edit' object.pk %}">
                    <button type="button" class="btn btn-success">
                        Editar
                    </button>
                </a>
                <a href="{% url 'produto:produto_delete' object.pk %}">
                    <button type="button" class="btn btn-success">
                        Deletar
                    </button>
                </a>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

